
.root{
    --main-c:#ffc300;
    --black-c:#000;
}
/*estilos generales  */
html{
    font-family: 'Farsan', cursive;
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
li{
    list-style: none;

}
p{
    font-size: 1.1rem;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.6rem;
}
h5{
    font-size: 1.4rem;
}
h6{
    font-size: 1.2rem;
}
/*hero*/

.hero{
    background: url(/assets/Logobarba.png) center;
    background-size:cover;
    height: 100vh;
}

/*header*/

header.main-header{
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    z-index: 999;
}
.wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
}
.logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffffff;
}

/*menu*/
.nav-header{
    display: flex;
    align-items: center;
    width: 100%;

}
.nav-wrap-header{
    display: flex;
    flex-basis: 50%;
}
ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    
}

ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem ;
    background-color: var(--main-c);
    color: #fff;
}
li.menu-item{
    margin: .75rem;
    display: flex;
}
li.menu-item a{
    padding: .5rem 1rem;
    color:#fff ;
}
li.menu-item a:hover{
    color: var(--main-c);

}
i.toggle-menu img{
    width: 27px;
    z-index: 99;
}
i.toggle-menu {
    display: none;
    background-color: #fff;
    border: none;
    z-index: 9999;
}

input#check{
    display: none;
}
@media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
  }
  
  @media (min-width:768px){
    a.logo-header{
      color: #fff;
    }
  }
  
  @media (max-width:768px){
    header.main-header{
      margin-bottom: 4rem;
    }
    .header-wrap{
       position: fixed;
       width: 100%;
       background-color:#fff;
       padding: 0;
       top: 0;
       z-index: 9999;
       height: 60px;
    
    }
    .wrap-logo-header{
        position: fixed;
        z-index: 999;
        top: 3%;
        left: 3%;
    }
    .logo-header, li.menu-item a{
        color: #222;
    }
    i.toggle-menu{
        display: flex;
    }
    ul.main-menu,#nav-main-contact{
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
    }
    ul.main-menu{
        position: fixed;
        background-color: #fff;
    }
    label.checkbtn{
        position: fixed;
        right: 3%;
        top: 3%;
        z-index: 9999;
        cursor: pointer;
    }
    #check:checked ~ ul{
        display: flex;
        z-index: 9;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        top: 0;
        font-size: 2rem;
    }
    
}

.wrap-header-hero{
    background:linear-gradient(to bottom, rgb(0 0 0 / .75)
    ,rgb(0 0 0 / .5)), url(/assets/lolgobar.svg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
}
.hero-home-page{
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
}
.wrap-hero-home-page{
    color: #fff;
    text-align: center;
    width: 50%;
}
.wrap-hero-home-page p{
    margin-bottom: 2rem;
  }
  
  @media (max-width:768px){
    .wrap-hero-home-page{
      width: 100%;
      padding: 1rem;
    }
  }



/*footer*/
footer{
    background-color:#fff ;
    color: #000;
}
footer ul{
    padding: 0;
}
footer li{
    list-style: none;
}
.wrap-footer{
    display: grid;
    grid-template-columns: 30% 15%
    15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}
.logo-element-footer img{
    max-height:75px ;
}

.element-footer h5{
    margin: 1rem 0;
}
.text-element-footer li{
    line-height: 2;
}
.link-elements-footer li a{
    color:#ffc300
}
.rrss-element-footer ul{
    display: flex;
    flex-flow: wrap;
} 
.rrss-element-footer img{
    width: 35px;

}
.rrss-element-footer li{
    margin-right: 1rem;
}
.footer-creds{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
}
.legal-creds ul{
    display: flex;
    flex-flow: row;
    
}
.legal-creds ul li{
    padding-right: 1rem;

    
}
.legal-creds ul a{
    color:#576171 ;
    font-size: .9rem;
}

@media (max-width:768px){
    .wrap-footer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:480px){
    .wrap-footer{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:320px){
    .footer-creds{
        flex-flow: column;
    }
}


/*contacto*/
.hero-page{
    background:linear-gradient(to bottom, rgb(0 0 0 / .5)
    ,rgb(0 0 0 / .5)), url(/assets/lolgobar.svg) center;
    background-size: cover;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-hero-page{
    color: #fff;
    padding: 1rem;
}

.section{
    max-width: 1200px;
    margin: 3rem auto;
    padding: 1rem;
}
.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}


.formulario{
    display: flex;
    flex-flow: column;
}
.formulario input, .formulario textarea{
margin: .5rem 0;
padding: .5rem .2rem;
}
.formulario button{
    width: fit-content;
    border: none;
    padding: .5rem 1rem;
    background-color: #ffc300;
    color: #fff;
    font-size: 1.1rem;
}
@media (max-width:640px){
    .wrap-two-column{
        grid-template-columns: 1fr;
    }
}
